$default-font: "Gilroy", sans-serif;
$default-font-2: "Nasalization", sans-serif;
$default-font-3: "BuongiornoRastellinoCyrl", sans-serif;
$wc: #F6F4EB;
$grey-color: #4B5563;
$accent-color: #BB9983;
$accent-color-2: #D1D9E1;
$text-color: #27292B;
$text-color-dark: #27292B;
$bg-color: #F4F1EA;
$text-color-light: #F4F1EA;
$golden-gradient: linear-gradient(89deg, #27292B 0%, #BB9983 100%);